@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v197/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
* {
  border: none !important;
}

/* Element Visibility Adjustments */
.card-ambient .card-ambient-header .au-target .fa-heart {
  display: none;
}

/* Card Styling */
.card-ambient .card-ambient-header .card-title .au-target {
  border: none !important;
}

/* Home Container Styling */
#home-container::before,
#home-container::after {
  display: none;
}

/* Row and Column Styling */
.row.ambients-container {
  gap: 1rem;
  margin-top: 5rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 calc(50% - .5rem);
  }
}

/* Component Header Styling */
.component-header {
  box-shadow: none !important;
  background: none !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(15px);
  margin: .5rem;
  border-radius: 1rem;
  overflow: hidden;
  * {
    font-family: Inter !important;
  }
}


/* Ambient Scroll Container */
#ambient-scroll-container {
  height: 100vh !important;
  width: 100%;
  position: fixed;
}

/* Fade-in and Fade-out Animations */
.au-target.au-animate.animate-fade-in.animate-fade-out.col-12.col-md-6 {
  border-radius: 1rem;
  overflow: hidden;
  border: none !important;
}

/* Text Transformations */
._home-screen .activities-icon div::first-letter {
  text-transform: uppercase !important;
}

/* Specific Element Styling */
#\39 650d050-4df6-41ac-ad2c-5193e484e812 > div:nth-child(1) > div:nth-child(1) > span:nth-child(2) {
  background-color: red;
}

/* Card Title Styling */
.card-ambient .card-ambient-header .card-title {
  font-size: 3rem;
  font-weight: 400;
  span {
    font-family: Inter !important;
    font-weight: 300;
  }
}

/* Home Screen Styles */
._home-screen .activities-icon {
  font-family: Inter, sans-serif;
  text-transform: lowercase !important;
}

._home-screen {
  background-color: BLACK;
}

/* Header Styles */
.header.transparent {
  background: none !important;
}

/* Body Font Family */
body {
  font-family: Inter, sans-serif !important;
}

/* Card Hours and Date Styling */
.card.card-hours-date .hours {
  font-family: Inter, sans-serif !important;
  font-size: 4rem;
  font-weight: 600;
}

@media (max-width: 991.98px) {
  .card.card-hours-date .hours {
    font-size: 9rem;
  }
}

.card.card-hours-date {
  gap: 1rem;
}

.card.card-hours-date .date {
  font-family: Inter, sans-serif !important;
  color: #fff;
  text-transform: capitalize;
  font-weight: 400;
}

/* Footer List Title Styling */
.footer-list .title-4 {
  font-family: Inter, sans-serif !important;
}


.options-block .list-group-options > .list-group-item .btn-options > .icon {
  font-size: 1.1rem;
  color: #fff;
  background: none;
  border-radius: 1rem;
  height: auto;
  font-weight: 900;
  background-color: none;
  margin: 0 !important;
  padding: 0 !important;
  inset: unset;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options-block .list-group-options > .list-group-item .btn-options {

  font-family: Inter, sans-serif;
  border-radius: 1rem;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  }
  ._home-screen .list-group-options {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    }






    /* icons */

    .icon {
      font-family: 'Material Symbols Rounded';
      font-weight: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -moz-font-feature-settings: 'liga';
      -moz-osx-font-smoothing: grayscale;
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }
    .icon-bulb::before {
      content: "light_group" !important;
    }
    .icon-icones-02::before {
      content: "stock_media" !important;
    }
    .icon-security::before {
      content: "nest_cam_outdoor" !important;
    }
    .icon-activities::before, .icon-lightning::before {
      content: "bolt" !important;
    }
    .icon-power-off::before  {
      content: "power_settings_new" !important;
    }
    .icon-lock1::before  {
      content: "door_sensor" !important;
    }
    .icon-calendar::before  {
      content: "event_repeat" !important;
    }
    
    .icon-album2::before {
      content: "photo_album";
    }
    .icon-ambients::before {
      content: "grid_view";
    }
    .icon-select-right::before {
      content: "arrow_forward_ios";
    }








.icon-activities {
  /* content: "scene" !important; */
  content: "scene";
}



.footer-list {
  position: fixed;
  right: 2rem;
  display: flex;
  flex-direction: column;
  inset: 2rem;
  left: unset;
  gap: .5rem;
  top: 5.5rem;
  width: 11.5rem;
}

.footer-list .btn-link {

  flex-direction: row;
  max-width: 400px;
  align-items: center;
  justify-content: left;
  gap: .5rem;
  padding: .5rem .75rem !important;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(15px);
  height: 3rem;
}

.footer-list .footer-list-item {
  width: 100%;
}

@media (max-width: 991.98px) {
  .footer-list .footer-list-item .btn .icon {
    font-size: 1.75rem !important;
  }
}



.icon {
  /* margin-bottom: 3px; */
  margin: 0 !important;
}

._home-screen .ambients-icon {

  font-family: Inter;
  position: fixed;
  right: 2rem;
  top: 2rem;
  width: 11.5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: .5rem;
  padding: .5rem .75rem !important;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(15px);
  height: 3rem;
}



.icon.icon-ambients {
  font-size: 1.75rem !important;
}

.ambients-icon.au-target div {
  font-family: Inter, sans-serif;
  text-transform: lowercase !important;
  line-height: 1;
  height: fit-content;
  margin: 0 !important;
  font-size: 1rem !important;
  font-weight: 400;
}

.ambients-icon.au-target div::first-letter {
  text-transform: capitalize;
}



.footer-list .title-4 {
  font-weight: 400;
}



.au-target.options-block.active {
}


@media (min-width: 768px) {
  .options-block {
    /* left: 18px; */
    right: 12rem;
    top: 0;
  }
}



.footer.active .footer-list {
  margin: 0 !important;
}

.options-block {
  /* left: 0; */
  /* bottom: -310px; */
  left: unset;
  padding: 0;
}
